/*MemberManagement.css*/
.member-management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative; /* 드롭다운 메뉴 위치 제어를 위한 부모 요소 */
}

.member-management-header h3 {
    flex-grow: 1;
    text-align: center; /* 제목을 가운데 정렬 */
    margin: 0;
    font-weight: bold;
}

.member-management-header img{
    height: 24px;
    width: 24px;
    cursor: pointer;
}