.delete-vacation-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-vacation-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-vacation-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-vacation-modal-header h3 {
    font-weight: bold;
    text-align: center; /* 가운데 정렬 */
    width: 100%; /* 부모 컨테이너의 전체 너비 차지 */
}

.delete-vacation-modal-header img{
    position: relative;
    top: -10px; /* 이미지를 10px 위로 이동 */
    right: 0px; /* 필요시 오른쪽으로 정렬 */
    cursor: pointer;
    width: 24px; /* 버튼 크기 조절 */
    height: 24px;
}

.delete-vacation-modal-body {
    margin-top: 10px;
    margin-bottom: 20px;
}

.delete-vacation-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.cancel-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cancel-button:hover {
    transform: scale(1.1);
}