.board-details-footer{
    display: flex;
    justify-content: flex-end;
    gap: 7px;
    align-items: center;
    padding: 10px 0;
    margin-right: 3px;
}

.board-details-footer img{
    display: flex;
    width: 24px;
    height: 24px;
}

.meta-item.like-button:hover img,
.meta-item.comment-count:hover img,
.meta-item.view-count:hover img {
    filter: brightness(1.2); /* 호버 시 아이콘을 밝게 */
}
