.boards-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 48%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 15px;
}

.img-fluid {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.boards-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boards-modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-title {
    text-align: center;
    font-size: 1.5rem;
}

.select-department {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.boards-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.all-boards-button,
.department-boards-button {
    display: flex; /* 버튼 내의 내용물도 flex로 설정 */
    align-items: center; /* 버튼 내부의 텍스트/아이콘을 가로로 중앙 정렬 */
    justify-content: center; /* 버튼 내부의 텍스트/아이콘을 세로로 중앙 정렬 */
    margin: 10px;
    width: 95%;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    background-color: cornflowerblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.all-boards-button:hover,
.department-boards-button:hover {
    background-color: royalblue; /* 마우스를 올렸을 때 배경색을 변경 */
}