.logout-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.logout-modal-content {
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    position: relative;
}

.logout-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.logout-modal-footer img {
    height: 36px;
    width: 30px;
}