/*DailyAttendanceManagement.css*/
.schedule-details-img {
    height : 24px;
    width : 24px;
}

.header-title-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}