.schedule-container {
    width: 100%;
    overflow-x: auto; /* 가로 스크롤 허용 */
    padding-left: 20px; /* 왼쪽 패딩 */
    padding-right: 20px; /* 오른쪽 패딩 */
    box-sizing: border-box; /* 패딩 포함하여 너비 계산 */
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    min-width: 55px; /* 최소 너비 설정 */
}

.saturday-header {
    color: blue;
}

.sunday-header {
    color: red;
}
