.event-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.event-modal h3 {
    margin: 0;  /* 제목의 기본 margin을 제거 */
    display: inline-block;  /* 제목을 inline-block으로 설정 */
    flex-grow: 1; /* 타이틀이 가능한 너비를 차지 */
    word-wrap: break-word; /* 긴 단어가 있으면 줄바꿈 */
}

.event-modal {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 110%;  /* 최대 너비는 화면의 90%로 제한 */
    max-height: 110%;  /* 모달이 화면을 넘지 않도록 최대 높이 설정 */
    word-wrap: break-word;
    position: relative;
}

.modal-header {
    position: relative;  /* 아이콘을 절대 배치하기 위한 relative 설정 */
    display: flex;
    justify-content: center;  /* 제목을 가운데 정렬 */
    align-items: center;  /* 수직으로 가운데 정렬 */
    font-size: 2.0rem;  /* 제목의 글씨 크기 */
    border-bottom: 2px solid #ddd;  /* 헤더와 바디 구분 */
    padding-bottom: 10px;
}

.modal-body {
    font-size: 1.0rem;
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.small-text {
    font-size: 0.9rem;  /* 글씨 크기를 더 작게 설정 */
    text-align: right;  /* 오른쪽 정렬 */
}

.event-details-action-icon img {
    margin: 3px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.modal-footer {
    font-size: 1rem;  /* 푸터의 글씨 크기 */
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}