.container {
    margin-top: 5rem;
}

.d-flex.justify-content-center.mb-3 h2 {
    text-align: center;
}

.d-flex.justify-content-end.mb-3 .btn {
    float: right;
}

.card {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 80%;
    margin: 0 auto;
    min-height: 300px; /* 카드의 최소 높이 설정 */
}

.card .row.no-gutters.d-flex {
    display: flex;
}

.card .col-md-6 {
    border-right: 2px solid white; /* 중앙 경계선 */
    height: auto;
}

.card .col-md-6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .hover-info {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: flex-end; /* 아래쪽 정렬 */
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .hover-info {
    opacity: 1;
}

.card .hover-info span {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.card .hover-info span img {
    margin-right: 5px;
}

.pagination {
    margin-top: 1.5rem;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

/* 화면이 768px 이하일 때 (태블릿 및 모바일 크기) */
@media (max-width: 768px) {
    .card {
        padding-bottom: 50px; /* 카드 하단에 공간 추가 */
    }
}
