.create-vacation-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.create-vacation-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    position: relative;
}

.create-vacation-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.create-vacation-modal-header img{
    height: 24px;
    width: 24px;
}

.create-vacation-modal-header h3 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.modal-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.create-vacation-modal-body {
    margin: 20px 0;
}

.create-vacation-modal-body label {
    display: block;
    margin-bottom: 2px; /* 모든 필드 간격을 2px로 설정 */
}

.create-vacation-modal-body input,
.create-vacation-modal-body textarea {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.create-vacation-modal-footer img {
    cursor: pointer;
    margin-right: 10px;
    height: 36px;
    width: 36px;
    transition: transform 0.3s ease; /* 이미지의 크기 변화에 대한 트랜지션 */
}

.create-vacation-modal-footer img:hover {
    transform: scale(1.1); /* 크기만 확대되도록 설정 */
}

.create-vacation-modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    margin-right: 5px;
    margin-top: 5px;
}

.row-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px; /* 모든 필드 간격을 2px로 설정 */
    align-items: center; /* 요소들이 세로로 정렬되도록 설정 */
}

.row-label-urgent {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: -20px;
    padding: 0;
}

.row-label-urgent img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.row-label-urgent label {
    margin-right: 10px; /* 텍스트와 체크박스 간 간격 */
}

.row-label input[type="checkbox"] {
    transform: translateY(4px);
    margin-right: 10px; /* 체크박스와 다음 요소 사이 간격 조정 */
}

.row-label select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row-label-reason {
    display: flex;
    align-items: center;
    margin-bottom: 2px; /* 모든 필드 간격을 2px로 설정 */
}
