.main-page-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    overflow-y : auto;
}

.general-container,
.personal-container{
    width: 50%;
    height: 50%;
}

.general-board-container,
.general-event-container,
.personal-board-container,
.personal-event-container {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border : 1px solid black;

}

.general-board-header,
.general-event-header,
.personal-board-header,
.personal-event-header{
    margin-top: -20px;
    text-align: center;
}

.general-board-body {
    margin-top: 10px;
    margin-bottom: 10px;
}