.login-page {
    margin: 0 auto; /* 가로 방향 중앙 정렬 */
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 500px;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 50%; /* 수직 중심 */
    left: 50%; /* 수평 중심 */
    justify-items: center;
    transform: translate(-50%, -50%); /* 수직 및 수평 중심 보정 */
}

.login-page-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 20px;
}

.login-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-page-body form {
    width: 400px;
}

.login-page-body label {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

.login-page-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333333;
    background-color: #f9f9f9;
}

.login-page-body input:focus {
    outline: none;
}

.login-page-button {
    display: flex; /* 같은 행에 배치 */
    justify-content: space-between; /* 버튼 간격을 균등 분배 */
    width: 100%; /* 부모의 너비를 가득 채움 */
    margin-top: 20px;
}

.login-page-button button {
    width: 200px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    height: 50px;
}

.login-page-button button:hover {
    background-color: royalblue;
}

.login-page-button .no-underline-link a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black; /* 텍스트 색상 */
    display: block; /* 버튼처럼 작동하도록 설정 */
    text-align: center;
}

.secondary-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-button:hover {
    background-color: royalblue;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .login-page {
        width: 300px;
    }

    .login-page-body form {
        width: 250px;
    }

    .login-page-button button {
        width: 120px;
    }
}
