/* Container for the card header */
.card-header {
    position: relative;
    text-align: center;
}

/* Style for the important icon */
.icon img.important-icon {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 10px;
}

/* Action icons container for edit and delete buttons */
.action-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Style for the edit and delete icons */
.action-icons img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.action-icons img:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}
