/*DropDownMenu.css*/
.custom-navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-left: auto; /* 왼쪽 여백을 자동으로 설정 */
    padding: 10px;
}

.nav-bar-icon {
    cursor: pointer;
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

.user-info {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    z-index: 1000; /* 드롭다운 메뉴가 위에 표시되도록 설정 */
}

.custom-dropdown-toggle {
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    font-size : 16px;
    padding: 10px 15px;
}

.custom-dropdown-toggle:hover {
    background-color: whitesmoke;
    border-radius: 6px;
}

.custom-dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    list-style: none;
    padding: 10px 1px;
    margin: 0;
    top: 110%; /* 버튼 바로 아래에 위치 */
    left: -70px;
    min-width: 150px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 살짝 떠있는 효과 */
    border-radius: 6px;
    text-align: center;
}

.custom-dropdown-menu li {
    padding: 5px 15px;
}

.custom-dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.custom-dropdown-menu li:hover {
    background-color: #f1f1f1; /* Hover 시 색상 변경 */
    border-radius: 4px;
}