.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-pagination-ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap : 10px;
}

.custom-page-item {
    position: relative;
    justify-items: right;
}

.custom-page-item button {
    padding: 8px 10px;
    gap : 100px;
    font-size: 14px;
    font-weight: bold;
    color: cornflowerblue;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
}

.custom-page-item button:hover {
    background-color: #f1f1f1;
    border-color: #6c757d;
}

.custom-page-item.active button {
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}

.custom-page-item.disabled button {
    color: #6c757d;
    background-color: #e9ecef;
    border-color: #dee2e6;
    cursor: not-allowed;
}
