.download-button-container {
    position: absolute;
    text-align: right;
    bottom: 40px;
    right :10px;
    margin-bottom: 10px;
}

.download-button-container img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    bottom : 2px;
}

.download-button {
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    font-size : 14px;
    color : black;
    font-weight: bold;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #e6e6e6; /* hover 효과 */
}
