.post-meta {
    display: flex;
    justify-content: flex-end;
    gap: 20px; /* 각 메타 정보 사이 간격 */
    align-items: center;
    padding: 10px 0;
    margin-right: 20px;
}

.meta-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.meta-item img.meta-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px; /* 아이콘과 텍스트 간격 */
}

.meta-item.like-button:hover img,
.meta-item.comment-count:hover img,
.meta-item.view-count:hover img {
    filter: brightness(1.2); /* 호버 시 아이콘을 밝게 */
}
