body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 5px; /* 상단 고정 요소의 높이만큼 여백을 줌 */
  scroll-behavior: smooth; /* 부드러운 스크롤을 위해 추가 */
}

.custom-navbar {
  position: relative;
  top: 0;
  width: 100%;
  max-height: 100px;
  z-index: 1;
  background-color: white;
  border-bottom: 2px solid #d3d3d3; /* 하단 경계선을 검정색으로 설정 */
  display: flex;
  justify-content: space-between; /* 메뉴와 홈 아이콘 사이의 간격을 유지 */
  align-items: center; /* 수직 정렬 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-navLink {
  display: inline-block;
  padding: 2px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: black;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.main-content {
  margin-top: 20px;
  padding: 20px;
}

.navLink:hover {
  background-color: #f0f0f0;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .navLink {
  display: block;
  text-align: left;
}

.dropdown-content .navLink:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}

.content {
  padding-top: 60px;
}

.fa-home, .fa-bars {
  font-size: 20px;
  padding-right: 5px;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
  color: black;
  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.textarea {
  font-family: 'Arial', sans-serif;
}

.not-exist-data {
  margin-top: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}