body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 5px;
  scroll-behavior: smooth;
  flex : 1;
  min-height: 100vh
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이 확보 */
}

.custom-navbar {
  position: relative;
  top: 0;
  width: 100%;
  max-height: 100px;
  z-index: 1;
  background-color: white;
  border-bottom: 2px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-navLink {
  display: inline-block;
  padding: 2px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: black;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.main-content {
  margin-top: 20px;
  padding: 20px;
}

.navLink:hover {
  background-color: #f0f0f0;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .navLink {
  display: block;
  text-align: left;
}

.dropdown-content .navLink:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}

.content {
  padding-top: 60px;
}

.fa-home, .fa-bars {
  font-size: 20px;
  padding-right: 5px;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
  color: black;
  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.textarea {
  font-family: 'Arial', sans-serif;
}

.not-exist-data {
  margin-top: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

