body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa; /* 부트스트랩 기본 배경색 */
}

.navLink {
  margin-right: 20px;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
}

.dropdown {
  position: relative;
}

.main-content {
  margin-top: 20px;
  padding: 20px;
}

.navLink:hover {
  background-color: #555;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .navLink {
  display: block;
  text-align: left;
}

.dropdown-content .navLink:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}

.content {
  padding-top: 60px;
}

.fa-home, .fa-bars {
  font-size: 20px;
  padding-right: 5px;
}
