/*VacationWarningModal.css*/
.warning-modal-body {
    margin-top: 20px;
}

.warning-modal-body-important {
    color : red;
    font-weight: bold;
}

.warning-modal-header img{
    height: 36px;
    width: 36px;
}