.audit-management-header h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.audit-management-details-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audit-management-header {
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.filters-dropdown {
    position: absolute;
    top: 50px; /* 필터 아이콘 아래에 드롭다운 배치 */
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 220px; /* 너비 설정 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100; /* 드롭다운이 위에 표시되도록 z-index 추가 */;
}

.filters-dropdown label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filters-dropdown button {
    width: 90%;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters-dropdown button:hover {
    background-color: #0056b3;
}
