.member-management-header {
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.member-management-header h3 {
    text-align: center; /* 제목을 가운데 정렬 */
    margin-top: 10px;
    font-weight: bold;
}