.main-page-container {
    margin-top: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr; /* 2열 레이아웃 */
    gap: 10px; /* 행과 열 사이의 간격 */
    overflow-y: auto;
}

.favorites-container {
    display: flex;
    grid-row : 1;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.favorites-row {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 3fr); /*1개의 행에서 3행으로 분리*/
    gap: 10px; /* 각 열 간격 */
    width: 100%;
}

.favorites-container-header {
    font-weight: bold;
    font-size: 18px;
}

.general-container,
.personal-container {
    height: auto; /* 동적 높이 조정 */
    padding: 10px;
    background-color: #ffffff;
}

.general-container {
    grid-row: 2; /* 2행 1열 */
    grid-column: 1;
}

.personal-container {
    grid-row: 2; /* 2행 2열 */
    grid-column: 2;
}

.attendance-container {
    grid-row: 3; /* 3행 전체를 차지 */
    grid-column: span 2;
    height: auto;
    padding: 10px;
    background-color: #f2f2f2; /* 다른 배경색 추가 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 기존 스타일 유지 */
.general-board-container,
.general-event-container,
.personal-board-container,
.personal-event-container,
.favorites-row{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.general-board-header, .general-event-header,
.personal-board-header, .personal-event-header {
    position: relative;
    margin-top: -20px;
    text-align: center;
}

.general-board-header img, .general-event-header img,
.personal-board-header img, .personal-event-header img {
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.general-board-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.general-board-stats img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.general-board-stats {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.general-board-stats span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.general-board-title {
    flex: 1;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.general-board-metric {
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: right;
}
